#car {
    position: absolute;
    bottom: 1050px;
    left: 800px;
    transform: rotate(220deg);
    }
@keyframes race {
    0% {
        bottom: 1050px;
        left: 800px;
        transform: rotate(220deg);
    }
    5% {
        bottom: 1030px;
        left: 800px;
        transform: rotate(250deg);
    }
    10% {
        bottom: 1050px;
        left: 800px;
        transform: rotate(250deg);
    }
    15% {
        bottom: 1050px;
        left: 800px;
        transform: rotate(220deg);
    }
    20% {
        bottom: 1080px;
        left: 800px;
        transform: rotate(180deg);
    }
    25% {
        bottom: 1080px;
        left: 200px;
        transform: rotate(180deg);
    }
    27% {
        bottom: 1080px;
        left: 100px;
        transform: rotate(180deg);
    }
    30% {
        bottom: 1080px;
        left: 60px;
        transform: rotate(140deg);
    }
    
    35% {
        bottom: 1080px;
        left: 60px;
        transform: rotate(100deg);
    }
    37% {
        bottom: 1080px;
        left: 60px;
        transform: rotate(90deg);
    }
    50% {
        bottom: 380px;
        left: 60px;
        transform: rotate(90deg);
    }
    75% {
        bottom: 340px;
        left: 800px;  
        transform: rotate(0deg);
    }
    100% {
        bottom: 1050px;
        left: 750px;
        transform: rotate(90deg);
    }


}
#car {
    animation-name: race;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    /*animation-iteration-count: infinite;*/
    animation-timing-function: ease-in;
}